<tr>
  <td>Pavadinimas:</td>
  <td><%= locals.pavadinimas %></td>
</tr>
<tr>
  <td>Identifikavimo kodas:</td>
  <td><%= locals.kodas %></td>
</tr>
<tr>
  <td>Kategorija:</td>
  <td><%= locals.kategorija %></td>
</tr>
