<tr>
  <td>Pavadinimas:</td>
  <td class="font-bold"><%= locals.pavadinimas %></td>
</tr>
<tr>
  <td>Identifikavimo kodas:</td>
  <td class="font-bold"><%= locals.kodas %></td>
</tr>
<tr>
  <td>Kategorija:</td>
  <td class="font-bold"><%= locals.kategorija %></td>
</tr>
