<div>
  <p class="font-bold">2. Kadastro objekto vietos aprašymas:</p>
  <%- include('includes/object-location-table', {
    coordinatesX: item.objektoX,
    coordinatesY: item.objektoY,
    upesBaseinoRajonas: item.baseinoRajPavadinimas || ' ',
    upesBaseinas: item.baseinoPavadinimas || ' ',
    upesPabaseinis: item.pabaseinioPavadinimas || ' ',
    municipalities: item.savivaldybes
  }); %>
</div>
<hr />
<div>
  <p class="font-bold">3. Morfometriniai kadastro objekto duomenys:</p>
  <%- include('includes/object-morphometric-data-table', { 
    vandensPavirsiausBeSaluPlotas: item.vandensPavirsiausPlotasHe,
    krantoLinijosIlgis: item.krantoLinijosIlgisKm,
    baseinoPlotas: item.baseinoPlotasKvKm,
    ilgis: fullData ? item.ilgisKm || ' ' : '', 
    vidutinisPlotis: fullData ? item.vidPlotisKm || ' ' : '',
    vvlAukstis: fullData && 111111111 ,// TODO: missing data
    vvlGylisMax: fullData ? item.maxGylis || ' ' : '',
    vvlGylisVid: fullData ? item.vidGylis || ' ' : '',
    vvlTuris: fullData ? item.vandTuris || ' ' : '',
    naudingasTuris: fullData ? item.naudVandTuris || ' ' : ''
  }); %>
</div>


<% if (!!fullData) { %>
<hr />
<div>
  <p class="font-bold">4. Vandens tyrimo vietos:
    <% if (!item?.vandensTyrimuVietos?.length) { %>
      įrašų nėra
    <% }; %>
  </p>

  <% if (!!item?.vandensTyrimuVietos?.length) { %>
  <%- include('includes/extra/tyrimo-vietos', {
    id: 4,
    items: item.vandensTyrimuVietos
  }); %>
  <% }; %>
</div>
<% }; %>

<hr />
<%- include('includes/extra/other', {
  id: fullData ? 5 : 4,
  text: item.kitiDuomenys
}); %>
