<div>
  <p class="font-bold">2. Kadastro objekto vietos aprašymas:</p>
  <%- include('includes/object-location-table', {
    coordinatesX: item.objektoX,
    coordinatesY: item.objektoY,
    ezeroNumerisKvadrate: item.ezeroNrKvadrate || ' ',
    ezeroKvadratoNumeris: item.ezeroKvadratoNr || ' ',
    upesBaseinoRajonas: item.baseinoRajPavadinimas || ' ',
    upesBaseinas: item.baseinoPavadinimas || ' ',
    upesPabaseinis: item.pabaseinioPavadinimas || ' ',
    municipalities: item.savivaldybes
  }); %>
</div>
<hr />
<div>
  <p class="font-bold">3. Morfometriniai kadastro objekto duomenys:</p>

  <%- include('includes/object-morphometric-data-table', {
    vandensPavirsiausBeSaluPlotas: item.vandensPavirsiausPlotasHe,
    krantoLinijosIlgis: item.krantoLinijosIlgisKm,
    baseinoPlotas: item.baseinoPlotasKvKm
  }); %>
</div>
