<div>
  <p class="font-bold">2. Kadastro objekto vietos aprašymas:</p>
  <%- include('includes/object-location-table', {
    coordinatesX: item.objektoX,
    coordinatesY: item.objektoY,
    upesBaseinoRajonas: item.baseinoRajPavadinimas + ' (ID)', // TODO: missing data
    upesBaseinas: item.baseinoPavadinimas + ' (ID)', // TODO: missing data
    upesPabaseinis: item.pabaseinioPavadinimas + ' (ID)', // TODO: missing data
    municipalities: ['Vilniaus m. sav.', 'Kauno m. sav'], // TODO: missing data
    patvenktosUpesPavadinimas: item.patvenktosUpes || '', // TODO: missing data
    patvenktosUpesID: item.patvenktosUpes || '', // TODO: missing data
    atstumasNuoPatvenktosUpesZiociu: item.patvenktosUpes, // TODO: missing data
  }); %>
</div>
<hr />
<div>
  <p class="font-bold">3. Morfometriniai kadastro objekto duomenys:</p>

  <%- include('includes/object-morphometric-data-table', {
    krantoLinijosIlgis: '0.1',
    vandensPavirsiausBeSaluPlotas: '0.1',
    baseinoPlotas: '0.1'
  }); %>
</div>
