<%- include('styles'); %>
<div
  class="flex w-full justify-between items-center text-sm text-gray"
  style="margin-left: 50px; margin-right: 50px"
>
  <div>LIETUVOS RESPUBLIKOS UPIŲ, EŽERŲ IR TVENKINIŲ KADASTRO IŠRAŠAS Nr. <%= id %>, <%= date %></div>
  <div>Lapas <span class="pageNumber"></span> iš <span class="totalPages"></span></div>
</div>
